# Build artifacts
/obj/
/bin/

# Test outputs
*.tmp
*.diff
*.actual

# Other temp files
*.swp
*~
*.src.rpm
sdata_0.1*
sdata-0.1.tar.gz
sdata-0.1-slackbuild.tar.gz
debian/files
debian/sdata/
debian/sdata.substvars
debian/debhelper-build-stamp

